* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 900px;
    height: 900px;
    margin: auto;
}

.cell {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.modal {
    position: absolute;
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: black;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    background: white;
    float: none;
}

.modal-content > div {
    text-align: center;
}

#loading-screen {
    display: flex;
    background: grey;
}

#score {
    position: absolute;
    right: 20px;
    top: 20px;
}